<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us - Say it with Sweets</title>
    <link rel="stylesheet" href="../static/style.css">
    <script defer src="../static/script.js"></script>
</head>
<body onload="onload()">
    <div class="header">
        <img src="../static/logo.png" alt="Logo" class="logo">
        <nav class="navigation">
            <a href="../index.html">Home</a>
            <a href="menu.html">Menu</a>
            <a class="active" href="about.html">About Us</a>
            <a href="contact.html">Contact Us</a>
            <button class="login" herf="#login">Member Login</button>
        </nav>
    </div>

    <div class="main-content">
        <h1>About Us</h1>
        <div class="about-content">
            <p> We are your neighborhood custom bakery in Pennsylvania, where every confection is a unique creation. 
                We're dedicated to bringing your sweetest visions to life, from bespoke cakes to hand-decorated cookies, all made to order with love. 
                Step into a world where traditional baking meets modern design, and each bite is a celebration. 
                Come and taste the difference that personal touch and local flavor make at Say it with Sweets.<br> 
                <br>Let us help make your next event special by creating a cake, cupcakes or cookies to match your theme. 
                We also offer our famous gourmet cupcakes for any occasion or just because you want some.. Be sure to browse 
                our website for gifts such as cookie bouquets, chocolate-covered treats or cookie trays, certain to delight anyone.</p>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/xVWwDc5aNDM?si=7GR5A5EUkaK8I5J1" title="YouTube video player" 
            frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
    </div>

    <div class="main-content">
        <h1>Hours of Operations</h1>
        <ul>
            <li>Monday    10 AM-5 PM</li>
            <li>Tuesday	  10 AM-4:30 PM</li>
            <li>Wednesday 10 AM-4:30 PM</li>
            <li>Thursday  10 AM-4:30 PM</li>
            <li>Friday    10 AM-4:30 PM</li>
            <li>Saturday  10 AM-12 PM</li>
            <li>Sunday    Closed</li>
        </ul>
    </div>
    <div class="main-content">
        <h1>Our Location</h1>
        <p>Our address is 1307 Pleasant Valley Blvd. Altoona PA 16602</p>
        <div id="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d189.60106703891776!2d-78.386993!3d40.50585!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89cb918855bb7c8b%3A0x7d6079aaf48c3657!2sSay%20It%20With%20Sweets!5e0!3m2!1sen!2sus!4v1712093020484!5m2!1sen!2sus" 
            width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>

    <footer class="footer">
        <div class="footer-left">
            <div class="social-links">
                <a href="https://www.facebook.com/say.it.with.sweets/"><img src="../static/facebook.png" alt="Facebook"></a>
                <a href="https://www.instagram.com/sayitwithsweets11/"><img src="../static/instagram.png" alt="Instagram"></a>
                <a href="https://www.yelp.com/biz/say-it-with-sweets-altoona"><img src="../static/yelp.png" alt="LinkedIn"></a>
            </div>
            <div>
                <span class="company-name"><a href="tel:814-937-1564">1 (814) 937-1564</a></span>
            </div>
            <div>
                <span class="company-name"><a href="mailto:info@sayitwithsweets.com">info@sayitwithsweets.com</a></span>
            </div>
            <div>
                <span class="company-name"><a href="https://maps.app.goo.gl/sR2yGuUPd2pieDhu6">1307 Pleasant Valley Blvd. Altoona PA 16602</a></span>
            </div>
            <span id="year" class="company-name">Say it with Sweets &copy</span>
        </div>
        <nav class="footer-nav">
            <a href="../index.html">Home</a>
            <a href="menu.html">Menu</a>
            <a href="about.html">About Us</a>
            <a href="contact.html">Contact Us</a>
        </nav>
    </footer>
</body>
</html>
