<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu - Say it with Sweets</title>
    <link rel="stylesheet" href="../static/style.css">
    <script defer src="../static/script.js"></script>
</head>
<body onload="onload()">
    <div class="header">
        <img src="../static/logo.png" alt="Logo" class="logo">
        <nav class="navigation">
            <a href="../index.html">Home</a>
            <a class="active" href="menu.html">Menu</a>
            <a href="about.html">About Us</a>
            <a href="contact.html">Contact Us</a>
        </nav>
    </div>

    <div class="main-content">
        <h2>Cakes</h2>
        <div class="product-grid">
            <div class="product-item">
                <div class="image-container">
                    <img src="../static/elephant_cake.jpg" alt="Display Image">
                    <div class="overlay">
                        <a href="product.html" class="info-btn">More Info</a>
                    </div>
                </div>
                <p class="product-name">Custom Cakes</p>
                <p class="product-description">Transform your sweetest dreams into edible masterpieces with our custom cakes, 
                tailored to celebrate your unique moments with a dash of flavor and a sprinkle of creativity.</p>
                <p class="price">$10.99</p>
            </div>
            <div class="product-item">
                <div class="image-container">
                    <img src="../static/flower_cake.jpg" alt="Display Image">
                    <div class="overlay">
                        <a href="product.html" class="info-btn">More Info</a>
                    </div>
                </div>
                <p class="product-name">Cookie Cakes</p>
                <p class="product-description">Transform your sweetest dreams into edible masterpieces with our custom cakes, 
                tailored to celebrate your unique moments with a dash of flavor and a sprinkle of creativity.</p>
                <p class="price">$10.99</p>
            </div>
        </div>
    
        <h2>Cupcakes</h2>
        <div class="product-grid">
            <div class="product-item">
                <div class="image-container">
                    <img src="../static/cupcakes.jpg" alt="Display Image">
                    <div class="overlay">
                        <a href="product.html" class="info-btn">More Info</a>
                    </div>
                </div>
                <p class="product-name">Custom Cupcakes</p>
                <p class="product-description">Transform your sweetest dreams into edible masterpieces with our custom cupcakes, 
                tailored to celebrate your unique moments with a dash of flavor and a sprinkle of creativity.</p>
                <p class="price">$10.99</p>
            </div>
            <div class="product-item">
                <div class="image-container">
                    <img src="../static/cupcakebouquet.jpg" alt="Display Image">
                    <div class="overlay">
                        <a href="product.html" class="info-btn">More Info</a>
                    </div>
                </div>
                <p class="product-name">Cupcake Bouquet</p>
                <p class="product-description">Transform your sweetest dreams into edible masterpieces with our custom cupcakes, 
                tailored to celebrate your unique moments with a dash of flavor and a sprinkle of creativity.</p>
                <p class="price">$10.99</p>
            </div>
        </div>
    
        <h2>Cookies</h2>
        <div class="product-grid">
            <div class="product-item">
                <div class="image-container">
                    <img src="../static/baseball_cookies.jpg" alt="Display Image">
                    <div class="overlay">
                        <a href="product.html" class="info-btn">More Info</a>
                    </div>
                </div>
                <p class="product-name">Custom Cookies</p>
                <p class="product-description">Transform your sweetest dreams into edible masterpieces with our custom cookies, 
                tailored to celebrate your unique moments with a dash of flavor and a sprinkle of creativity.</p>
                <p class="price">$10.99</p>
            </div>
            <div class="product-item">
                <div class="image-container">
                    <img src="../static/cookie_tray.jpg" alt="Display Image">
                    <div class="overlay">
                        <a href="product.html" class="info-btn">More Info</a>
                    </div>
                </div>
                <p class="product-name">Cookie Trays</p>
                <p class="product-description">Transform your sweetest dreams into edible masterpieces with our custom cookies, 
                tailored to celebrate your unique moments with a dash of flavor and a sprinkle of creativity.</p>
                <p class="price">$10.99</p>
            </div>
            <div class="product-item">
                <div class="image-container">
                    <img src="../static/cookie_giftbox.jpg" alt="Display Image">
                    <div class="overlay">
                        <a href="product.html" class="info-btn">More Info</a>
                    </div>
                </div>
                <p class="product-name">Cookie Giftboxes</p>
                <p class="product-description">Transform your sweetest dreams into edible masterpieces with our custom cookies, 
                tailored to celebrate your unique moments with a dash of flavor and a sprinkle of creativity.</p>
                <p class="price">$10.99</p>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="footer-left">
            <div class="social-links">
                <a href="https://www.facebook.com/say.it.with.sweets/"><img src="../static/facebook.png" alt="Facebook"></a>
                <a href="https://www.instagram.com/sayitwithsweets11/"><img src="../static/instagram.png" alt="Instagram"></a>
                <a href="https://www.yelp.com/biz/say-it-with-sweets-altoona"><img src="../static/yelp.png" alt="LinkedIn"></a>
            </div>
            <div>
                <span class="company-name"><a href="tel:814-937-1564">1 (814) 937-1564</a></span>
            </div>
            <div>
                <span class="company-name"><a href="mailto:info@sayitwithsweets.com">info@sayitwithsweets.com</a></span>
            </div>
            <div>
                <span class="company-name"><a href="https://maps.app.goo.gl/sR2yGuUPd2pieDhu6">1307 Pleasant Valley Blvd. Altoona PA 16602</a></span>
            </div>
            <span id="year" class="company-name">Say it with Sweets &copy</span>
        </div>
        <nav class="footer-nav">
            <a href="../index.html">Home</a>
            <a href="menu.html">Menu</a>
            <a href="about.html">About Us</a>
            <a href="contact.html">Contact Us</a>
        </nav>
    </footer>
</body>
</html>
