<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product - Say it with Sweets</title>
    <link rel="stylesheet" href="../static/style.css">
    <script defer src="../static/script.js"></script>
</head>
<body onload="onload()">
    <div class="header">
        <img src="../static/logo.png" alt="Logo" class="logo">
        <nav class="navigation">
            <a href="../index.html">Home</a>
            <a class="active" href="menu.html">Menu</a>
            <a href="about.html">About Us</a>
            <a href="contact.html">Contact Us</a>
            <button class="login" herf="#login">Member Login</button>
        </nav>
    </div>

    <div class="back-button-container">
        <a href="menu.html" class="back-button">Back</a>
    </div>
    
    <div class="product-page">
        <div class="product-image">
            <img src="../static/pawprintcupcakes.jpg" alt="`Display Image">
        </div>
        <div class="product-details">
            <h1>SAMPLE PRODUCT PAGE</h1>
            <p>Body text for describing why this product is simply a must-buy</p>
            <p class="price">$10.99</p>
            <button><a href="contact.html">Contact Us to Order</a></button>
            <p class="fine-print">Text box for additional details (such as dietray restrictions) or fine print</p>
        </div>
    </div>
    
    <footer class="footer">
        <div class="footer-left">
            <div class="social-links">
                <a href="https://www.facebook.com/say.it.with.sweets/"><img src="../static/facebook.png" alt="Facebook"></a>
                <a href="https://www.instagram.com/sayitwithsweets11/"><img src="../static/instagram.png" alt="Instagram"></a>
                <a href="https://www.yelp.com/biz/say-it-with-sweets-altoona"><img src="../static/yelp.png" alt="LinkedIn"></a>
            </div>
            <div>
                <span class="company-name"><a href="tel:814-937-1564">1 (814) 937-1564</a></span>
            </div>
            <div>
                <span class="company-name"><a href="mailto:info@sayitwithsweets.com">info@sayitwithsweets.com</a></span>
            </div>
            <div>
                <span class="company-name"><a href="https://maps.app.goo.gl/sR2yGuUPd2pieDhu6">1307 Pleasant Valley Blvd. Altoona PA 16602</a></span>
            </div>
            <span id="year" class="company-name">Say it with Sweets &copy</span>
        </div>
        <nav class="footer-nav">
            <a href="../index.html">Home</a>
            <a href="menu.html">Menu</a>
            <a href="about.html">About Us</a>
            <a href="contact.html">Contact Us</a>
        </nav>
    </footer>
</body>
</html>
